############################
# Rails
############################

RAILS_ENV=development

############################
# Rails: Urls
############################

APP_HOST=localhost
APP_PORT=3000

############################
# AWS services
############################

AWS_ACCESS_KEY_ID=<FILL ME IN>
AWS_SECRET_ACCESS_KEY=<FILL ME IN>
AWS_DEFAULT_REGION=us-east-1
BUCKET_NAME=pfml-starter-pfml-dev

############################
# Auth
############################

COGNITO_CLIENT_SECRET=<FILL ME IN>
COGNITO_USER_POOL_ID=us-east-1_o1btuFuDS
COGNITO_CLIENT_ID=35nrqeng2itarutlqh53tpsv3t

############################
# Database
############################

DB_HOST=127.0.0.1
DB_NAME=app
DB_USER=app
DB_PASSWORD=secret123