############################
# Rails
############################

RAILS_ENV=development

############################
# Rails: Urls
############################

APP_HOST=localhost
APP_PORT=3000

############################
# Database
############################

DB_HOST=127.0.0.1
DB_NAME=app
DB_USER=app
DB_PASSWORD=secret123
